img {
    height: 60vh;
    object-fit: cover;
    width: 60vw;
}

.card-action {
    display: flex;
    align-items: center;
}

.details {
    height: 100vh;
    background-image: url('/assets/images/main-fondo.jpg');
    background-size: cover;
}