.collection {
    width: 100%;
    height: 100vh;
}

.collection-item {
    width: 100%;
    height: 30vh;
}

.collection-item>li {
    width: 100%;
    height: 100%;
}

.pagar, .cancelar {
    margin: 1%;
}

.paycar-image {
    height: 100%;
}